::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: #16a085;
    color: #a4003a;
    text-shadow: none;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
  text-align: center
}

html,
body {
    height: 100%;
}

body {
    font-family: "inherit" sans-serif;
    font-weight: inherit;
    font-size: 100%;
    color: #897266;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

/* Push the body after clicking the menu button */
.body-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.body-push-toright {
  left: 200px;
}

.body-push-toleft {
  left: -200px;
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

/* keyvisual */
.keyvisual {
  background-image: url(../img/back.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 750px;
}
.keyvisual-text {
  padding-top: 22%;
}

/* Section */
.section-header {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'font-family: 'LearningCurve', sans-serif;';
}


/* About Wrap & Conf */
.name {
  text-align: center;
}
.name p {
  font-size: 22px;
  font-weight: lighter;
  margin-top: 15px;
  letter-spacing: 2px;
}

.name-label {
  width: 60px;
  height: 60px;
  margin: 0 auto 45px;
  border-top: 1px solid #000;font
  background-size: 35px 35px;
}

.name-zig {
  width: 73px;
  height: 17px;
  margin: 38px 0 38px;
  background-size: 73px 17px;
}

/* Separator About - Parallax Section */
.sep {
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  height: 450px;
  position: relative;
}
.about {
  background-image: url(../img/about-sep.jpg);
}

/* Portfolio Wrap Section */
#portfoliowrap {
  display: block;
  margin-top: 80px;
  margin-bottom: 80px;
}

.mt {
  margin-top: 50px;
}

.mb {
  margin-bottom: 60px;
}

.proc {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: solid 2px transparent;
}

/* Service Wrap */
#servicewrap {
  display: block;
  margin-top: 80px;
  margin-bottom: 80px;
}

#servicewrap h1 {
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px;
}

.service {
  text-align: left;
}

.service .text {
  color: #767676
}

/* Testimonials Wrap */
#testimonials {
  display: block;
  margin-top: 80px;
  margin-bottom: 80px;
  background-color: #f3f3f3;
}

/* Portfolio */

#portfolio {
  width: 100%;
  margin: auto;
}
#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 2px;
  padding: 0 1px;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .caption {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(229, 176, 170, .9);
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  transition: all ease .5s;
}

#portfolio .mint-film {
  background: rgba(127, 217, 193, .9);
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  font-size: 20px;
  color: #fff;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content h3 {
  margin: 0;
  color: #e9eaed;
  font-size: 17px;
  letter-spacing: 4px;
  text-transform: uppercase;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 10px 0;
  color: #e9eaed;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#portfolio * {
  z-index: 2;
}

/* Contact Wrap */
#contactwrap {
  margin-top: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.contact {
  background-image: url(../img/contact-sep.jpg);
}

#contactwrap label {
  color: #f2f2f2;
  margin-top: 10px;
}

/* Gallery Configuration */
.photo-wrapper {
  display: block;
  position: relative;
  overflow: hidden;
  background-color: #2f2f2f;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.project .overlay {
  position: absolute;
  text-align: center;
  color: #fff;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.project:hover .photo-wrapper {
  background-color: #2f2f2f;
  background-repeat:no-repeat;
  background-position:center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: relative;
}

.desc {
  margin-top: 25px;
}
