@media screen and (max-width: 1024px) {
  .keyvisual-text {
  padding-top: 35%; }

  .person {
    margin: 0 auto 50px; }
    .person-content {
      text-align: center; }
    .person .social-icons li {
      display: inline-block;
      float: none;
      margin-bottom: 5px; }

  .testimonials blockquote {
    padding: 20px 5% 0; }
  .testimonials p {
    font-size: 12px; }

  .flex-control-nav {
    bottom: 20px; }
}

@media screen and (max-width: 768px) {
  .keyvisual-text {
  padding-top: 35%; }

  .flexslider {
    padding-bottom: 80px; }

  .flex-control-nav {
    width: 100%; }

  .footer .footer-col {
    margin-bottom: 50px; }
}

@media screen and (max-width: 640px) {
  .keyvisual-text {
    padding-top: 35%; }
	  .testimonials p {
    font-size: 12px;  }
@media screen and (max-width: 480px) {
	    .testimonials p {
    font-size: 12px;  }
@media screen and (max-width: 320px) {
  .keyvisual-text {
    padding-top: 55%; }

  .testimonials blockquote {
    padding: 20px 5% 0; }
  .testimonials p {
    font-size: 12px; } }

@media only screen and (max-width: 1080px) {
  .container {
    width: 85%;
  }
}
