@media screen and (max-width: 1024px) {
  .keyvisual-text {
  padding-top: 35%; }
  .about {
    height: 1000px; }

@media screen and (max-width: 768px) {
  .keyvisual-text {
  margin-top: 35%; }

  .about {
    height: 1000px; }

  .flexslider {
    padding-bottom: 80px; }

  .flex-control-nav {
    width: 100%; }

  .footer .footer-col {
    margin-bottom: 50px; }
  .sep {
  background-size: contain; }
}

@media screen and (max-width: 640px) {
  .keyvisual-text {
    margin-top: 50%; }
	  .testimonials p {
    font-size: 12px;  }
  .about {
    height: 1000px; }
@media screen and (max-width: 480px) {
	    .testimonials p {
    font-size: 12px;  }
  .about {
    height: 1000px; }
@media screen and (max-width: 320px) {
  .keyvisual-text {
    padding-top: 30%; }

  .testimonials blockquote {
    padding: 20px 5% 0; }
  .testimonials p {
    font-size: 12px; } }

@media only screen and (max-width: 1080px) {
  .container {
    width: 85%;
  }
}
