@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

@font-face {
    font-family: 'KGTwoisBetterThanOne';
    src: url('../../fonts/KGTwoisBetterThanOne.ttf');
    font-weight: normal;
    font-style: normal;

    font-family: 'SmartphoneUI';
    src: url('../../fonts/SmartphoneUI.otf');
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 1.5;
  font-family: 'Open Sans', 'Hiragino Sans', 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 2.75em;
}

h2 {
  font-size: 2.8em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.1em;
}

h6 {
  font-size: 1em;
}

p {
  margin-bottom: 10px;
  font-size: 1em;
}

.small {
  line-height: 1.7;
  font-size: 0.83em;
}

.strong {
    font-weight: 600;
}

img {
  max-width: 100%;
  height: auto;
}

dl {
  display: block;
  padding-bottom: 20px;
}

dt {
  letter-spacing: 1px;
  font-size: 1.1em;
  font-weight: 600;
}

blockquote {
  margin-bottom: 30px;
  padding: 10px 20px;
  line-height: 1.8;
  font-size: 1em;
  border-left: 5px solid #eee;
}

blockquote p {
  position: relative;
}

blockquote footer {
  display: block;
  font-size: 0.8em;
  font-weight: 200;
}

blockquote.blockquote-reverse {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eee;
  border-left: 0;
  text-align: right;
}

blockquote.quote {
  position: relative;
  border: none !important;
}

blockquote.quote:before {
  font-family: 'font-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  content: "\e7ad";
  position: absolute;
  width: 48px;
  height: 48px;
  line-height: 48px;
  font-size: 42px;
  top: 0;
  left: 0;
  color: #EEE;
}

blockquote.blockquote-reverse.quote:before {
  content: "\e7ae";
  left: auto;
  right: 0;
}

@media (max-width: 979px) and (min-width: 768px) {
  body { font-size: 85%; }
}

@media screen and (max-width: 767px) {
  body { font-size: 80%; }
}

.section-header h2 {
  font-size: 3em;
  font-family: 'KGTwoisBetterThanOne', sans-serif;
}

.about .section-header h3,
.catchcopy h5 {
  font-family: 'SmartphoneUI', sans-serif;
}
