.conversion {
  background-image: url(../../img/conversion/bg.png);
  height: 450px;
}

@media screen and (max-width: 640px) {
  .conversion {
    background-image: url(../../img/conversion/bg-sm-6.png);
  }
}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 320px) {

}