.guest h4 {
  padding-right: 5%;
  padding-left: 5%;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: auto;
  -webkit-margin-end: auto;
}

.guest h6 {
  padding-right: 5%;
  padding-left: 5%;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: auto;
  -webkit-margin-end: auto;
}

.guest p {
  padding-right: 5%;
  padding-left: 5%;
}