.keyvisual {
  position: relative;
  background-image: url(../../img/keyvisual/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.keyvisual-main {
  min-height: 750px;
}

.keyvisual-sub {
  min-height: 440px;
}

.keyvisual-text, .subkeyvisual-text {
  padding-top: 8%;
}

.subkeyvisual-text img {
  padding-bottom: 1%;
}

.social-share {
  display: inline-block;
}

.social-share li {
  float: left;
}

.social-share li:nth-child(2) {
  margin-left: 5px;
}

@media screen and (max-width: 640px) {
  .keyvisual img {
    padding-right: 5%;
    padding-left: 5%;
  }

  .subkeyvisual-text {
    padding-top: 30%;
  }
}