.social-icons {
  margin-top: 30px;
}
.social-icons li {
  display: inline-block;
  float: none;
}
.social-icons a {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #c6cacc;
  display: block;
  font-size: 14px;
  line-height: 32px;
  margin-right: 5px;
  text-align: center;
  width: 25px;
  height: 25px;
}
.social-icons a:hover {
  /*background-color: #ffc4be;*/
  /*border-color: #ffc4be;*/
  /*color: #fff;*/
}